<!DOCTYPE html>
<html ng-app="Todo">
<head>
  <title>Todo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if user_signed_in? %>
<div style="margin-top: 5em">
  <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %></div>
<% end %>
<%= yield %>

</body>
</html>
